<br>
  <form [formGroup]="commentForm" (ngSubmit)="onSubmit()" #f="ngForm">
      <div class="input-group input-group-sm">
        <input 
          type="text"
          id="content"
          formControlName="content"
          class="form-control"
          ngModel
          placeholder="Comment..."
          required="true">
        <span class="input-group-btn">
          <button class="btn btn-secondary" [disabled]="!commentForm.valid"
          type="submit">Submit</button>
        </span>
        </div>
</form>
