.card{
    width: 100%;
}

.card-img-top {
    width: 100%;
}


.dropdown-icon:after {
    content: '\2807';
    font-size: 1.4rem;
    color: #2e2e2e
}

.no-btn {
    box-shadow: none !important;
    color: rgb(131, 130, 130);
}
