<div class="row">
  <div class="card">
    <div class="card-block">
      <h4 class="align-middle d-inline-block card-title">{{post.user.fullName}}</h4>
      <div dropdown class="d-inline-block dropdown float-right">
        <a dropdownToggle class="btn dropdown-icon" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></a>
        <ul *dropdownMenu class="dropdown-menu" aria-labelledby="dropdownMenuLink">
          <li *ngIf="authService.isUserLoggedIn()">
            <a class="dropdown-item" (click)="openModalWithComponent()">Edit</a>
          </li>
          <li *ngIf="authService.isUserLoggedIn()">
            <a class="dropdown-item" (click)="openDeleteConfirmationModal(postDeleteConfirmation)">Delete</a>
          </li>
        </ul>
      </div>
    </div>
    <img class="card-img-top" [src]="post?.image_path" alt="Card image cap">
    <div class="card-block">
      <h4 class="card-title">{{post.title}}</h4>
      <p class="card-text">{{post.description}}</p>
      <hr>
      <app-comment-list [postId]="post._id" [post]="post" [numComments]="numComments"></app-comment-list>
      <button class="btn btn-link btn-sm text-left no-btn" (click)="openCommentsModalWithComponent()">Show all comments...</button>
      <app-comment-new *ngIf="authService.isUserLoggedIn()" [postId]="post._id" [post]="post" ></app-comment-new>
      <br>
      <app-like [postId]="post._id"></app-like>
    </div>
  </div>
</div>
<br>

<ng-template #postDeleteConfirmation>
  <div class="modal-body text-center">
    <p>Are you sure you want to delete this post?</p>
    <button type="button" class="btn btn-default" (click)="confirmDelete()" >Yes</button>
    <button type="button" class="btn btn-primary" (click)="declineDelete()" >No</button>
  </div>
</ng-template>